.highlight:hover
{
    background-color: #fafafa;
    color: white;
    font-weight: bold;
    
    border-radius: 10px;
}
.my-footer
{
    background-color: #332FD090;
   
    height:auto;
    width: 100%;
   
}
.my-logo > img
{

width:20px;
margin: 5px;
cursor: pointer;
}


.my-heading{
    background-color: #0C356A;
    border-radius: 10px;
    color: white;
}